{% extends "blog_app/base.html" %}
{% load static %}
{% block title %}
  Home
{% endblock %}
{% block extrastyles %}
<link rel="stylesheet" href="{% static 'blogApp/forms.css' %}">
{% endblock %}
{% block content %}
<section class="blog-posts">

  {% if posts %}
    {% for post in posts %}
    <article class="post">
      <p class="post-meta">
        {% if post.author.userprofile.avatar %}
        <img src="data:image/jpeg;base64,{{ post.author.userprofile.avatar_base64 }}" alt="{{ post.author.username }}" class="author-profile-image">
        {% endif %}
        {{ post.author }} {{ post.date_posted }}
      </p>
      <h2>{{ post.title|title }}</h2>
      {% if post.image %}
      <img src="data:image/jpeg;base64,{{ post.image_base64 }}" alt="{{ post.title }}" class="post-image">
      {% endif %}
      <p class="content_home">{{ post.content }}</p>

      <div class="post-actions">
        <a href="{% url 'post_detail' post.id %}" class="btn btn-primary read-more">Read More</a>
        {% if request.user == post.author %}
        <div>
          <a href="{% url 'post_edit' post.id %}" class="btn btn-secondary">Edit</a>
          <a href="{% url 'post_delete' post.id %}" class="btn btn-danger">Delete</a>
        </div>
        {% endif %}
      </div>

    </article>
    {% endfor %}
  {% else %}
    <p>No posts available.</p>
  {% endif %}
</section>
{% endblock %}
