{% extends 'blog_app/base.html' %}
{% load static %}
{% block extrastyles%}
<link rel='stylesheet' href ="{% static "blogApp/profile.css"%}">
{% endblock%}
{% block content %}
<div class="card">
    <div class="profile-header">
        {% if user.userprofile.avatar %}
            <img src="{{ user.userprofile.avatar.url }}" alt="{{ user.username }}" class="avatar">
        {% endif %}
    </div>
    <div class="profile-details">
        <h1>{{ user.username }}</h1>
        <p><strong>Email:</strong> {{ user.userprofile.email }}</p>
        <p><strong>Bio:</strong> {{ user.userprofile.bio }}</p>
        <p><strong>Birth date:</strong> {{ user.userprofile.birth_date }}</p>
    </div>
</div>
{% endblock %}
