{% extends "blog_app/base.html" %}

{% block title %}
    home
{% endblock%}

{% block content %}
<main class="container">
    <section class="blog-posts">
        <article class="post">
            <h2>Blog Post Title</h2>
            <p class="post-meta">Posted on June 11, 2024 by <a href="#">Author</a></p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque fringilla efficitur eros, at posuere quam condimentum id.</p>
            <a href="#" class="read-more">Read More</a>
        </article>

        <article class="post">
            <h2>Another Blog Post</h2>
            <p class="post-meta">Posted on June 10, 2024 by <a href="#">Author</a></p>
            <p>Suspendisse potenti. Sed in justo sit amet nisi egestas tristique. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae.</p>
            <a href="#" class="read-more">Read More</a>
        </article>

        <!-- More blog posts -->
    </section>
    
   {% block aside %}
   
   {% endblock%}
</main>  
{% endblock%}